.custom-link {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    .icon {
      fill: var(--text-main);
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    .title {
      margin-top: 1px;
      margin-right: 8px;
    }
  }
}
