.blog-card {
  background-color: var(--bg-secondary);
  width: 100%;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px;
  text-decoration: none;

  .blog-name {
    margin-top: 8px;
    font-size: x-large;
  }
  .blog-description {
    margin-top: 8px;
    color: var(--text-secondary);
  }
  .card-footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    // font-size: small;
    color: var(--text-secondary);
  }
}
