.layout {
  /* margin: 0 auto; */
  background-color: var(--bg);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.intro-box {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}
.intro-text {
  display: flex;
  flex-direction: column;
}
.intro-title {
  line-height: 1.25;
  font-size: 3.5em;
  font-weight: 700;
}

.intro-desc {
  line-height: 2;
}

.intro-desc .desc-content {
  margin-top: 32px;
  color: var(--text-secondary)

}

@media (min-width: 992px) {
  .layout {
    flex-direction: row;
  }
  .intro-box {
    max-width: 408px;
    position: fixed;
  }
}
@media (min-width: 1280px) {

}