.layout {
  /* margin: 0 auto; */
  background-color: var(--bg);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  .intro-box {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    width: 100%;
    height: 100%;
    max-height: 800px;
    .intro-text {
      display: flex;
      flex-direction: column;
      .intro-title {
        line-height: 1.25;
        font-size: 48px;
        font-weight: 700;
      }
      .intro-desc {
        line-height: 1.75;
        .desc-content {
          margin-top: 32px;
          color: var(--text-secondary);

          a {
            text-decoration: underline;
          }
        }
      }
    }
    .intro-misc {
      display: flex;
      align-items: center;
      margin-top: 0;
      width: 100%;
      .headshot {
        margin-right: 32px;
      }
      .social-links {
        width: 100%;
        ul {
          display: flex;
          width: 100%;
          li {
            margin-right: 16px;
          }
        }
      }
    }
  }
  .content-box {
    position: static;
    padding: 32px;
  }
}

@media (min-width: 992px) {
  .layout {
    flex-direction: row;
    .intro-box {
      max-width: 378px;
      position: fixed;
    }
    .content-box {
      max-width: 612px;
      position: absolute;
      right: 0;
      padding-left: 0;
    }
  }
}
@media (min-width: 1280px) {
  .layout {
    flex-direction: row;
    .intro-box {
      max-width: 530px;
      padding: 88px 0 88px 88px;
      .intro-text .intro-title {
        font-size: 64px;
        line-height: 1.1;
      }
    }
    .content-box {
      max-width: 736px;
      position: absolute;
      right: 0;
      padding: 88px 88px 88px 0;
    }
  }
}
